<hr class="h-px my-4 bg-gray-300 border-0 dark:bg-gray-300">
  <div class="flex justify-between">
    <div class= "flex items-center">
      <span class = 'inline-block mr-1 text-indigo-600'> <%=favorites.count %></span>
      <span>個<%=object%>在您的收藏</span>
    </div>
  </div>
<hr class="h-px my-4 bg-gray-300 border-0 dark:bg-gray-300">