<div class="flex">
  <h1 class="font-bold text-4xl">喜愛清單</h1>
  <%= link_to '返回清單', restaurants_path, class: "rounded-lg py-3 px-5 block font-medium mx-3 border" %>
</div>

<div data-controller="favorite">
  <button data-action="click->favorite#toggle" data-section="restaurant">餐廳</button>
  <button data-action="click->favorite#toggle" data-section="hotel">飯店</button>
  <button data-action="click->favorite#toggle" data-section="attraction">景點</button>



  <section class = "display-all">
    <section class="justify-between items-center">
      <h2 class="font-bold text-3xl my-4">行程</h2>
    </section>

    <section data-favorite-target="section" data-section="restaurant" class="justify-between items-center">
      <h2 class="font-bold text-3xl my-4">餐廳</h2>
      <%= render "favorite_list", favorite_objects:@favorites.restaurants%>
    </section>

    <section data-favorite-target="section" data-section="hotel" class="justify-between items-center">
      <h2 class="font-bold text-3xl my-4">飯店</h2>
    </section>

    <section data-favorite-target="section" data-section="attraction" class="justify-between items-center">
      <h2 class="font-bold text-3xl my-4">景點</h2>
    </section>
  </section>
</div>
