<% if record.errors.any?%>
  <section class='error-message'>
    <ul>
      <% record.errors.full_messages.each do |message| %>
        <li class='text-red-600 bg-pink-100 px-3 py-2 mt-2 rounded-lg '><%= message %></li>
      <%end%>
    </ul>
  </section>
<% end %>
