<% if current_user && current_user.favorites.restaurants.find_by(favorable_id: object.id)%>
  <div class = "bg-rose-300 cursor-pointer select-none text-white focus:outline-none focus:ring-4 font-medium rounded-full text-sm px-3 py-1 mx-2 hover:bg-white hover:text-red-500 border-2" data-action="click->favorite#removeFav" data-id="<%= current_user.favorites.restaurants.find_by(favorable_id: object.id).id %>">
    <span class="hidden sm:inline-block text-lg">已加喜愛清單</span>
    <span class="inline-block text-red-500 text-lg">&#x2665;</span>
  </div>
<% elsif current_user %>
  <%= button_to favorites_path(favorites: {favorable_type: object.class, favorable_id: object.id}), method: :post, anchor: object.id, data: { turbo: false } do%>
    <div class = "text-red-500 cursor-pointer select-none focus:outline-none focus:ring-4 font-medium rounded-full text-sm px-3 py-1 mx-2 bg-white hover:bg-rose-300 hover:text-white border-2" data-action="click->favorite#addFav">
      <span class="hidden sm:inline-block text-lg">加入喜愛清單</span>
      <span class="inline-block text-red-500 text-lg">&#x2665;</span>
    </div>  
  <% end %>
<% end %> 


