<h1 class="font-bold text-4xl"><%=restaurant.name%></h1>
  <div class="flex items-center">
    <i class="fa-solid fa-star text-yellow-300 fa-lg"></i>
    <i class="fa-solid fa-star text-yellow-300 fa-lg"></i>
    <i class="fa-solid fa-star text-yellow-300 fa-lg"></i>
    <i class="fa-solid fa-star text-yellow-300 fa-lg"></i>
    <i class="fa-solid fa-star-half text-yellow-300 fa-lg"></i>
    <span class="mr-2"><%=0%>則評論</span>
    <% restaurant.atmostphere.each do |atmostphere| %>
      <span class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 "><%=atmostphere%></span>
    <% end %>
  </div>