<div class="mx-auto md:w-3/4 w-full">
  <h1 class="font-bold text-4xl">新增餐廳</h1>
  <%= render "form", restaurant: @restaurant %>
  <%= link_to '返回餐廳列表', restaurants_path, class:"bg-blue-400 inline-block text-white focus:outline-none focus:ring-4 rounded-full text-md px-3 py-1 hover:bg-white hover:text-blue-400 border-2 transition-all duration-400" %>
</div>
