/*
 *= require_tree .
 *= require_self
 */

.flash_style {
    top: 60px !important;
    right: 10px !important;
}

.chartBox{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-bottom: 20px;

}
