<div class="w-full mx-auto md:w-2/3 mb-5">
  <h1 class="text-4xl font-bold">新增住宿</h1>
  <%= render "form", hotel: @hotel %>
  <%= link_to '返回住宿列表', hotels_path, class:"bg-blue-400 inline-block text-white focus:outline-none focus:ring-4 rounded-full text-md px-3 py-1 hover:bg-white hover:text-blue-400 border-2 transition-all duration-400" %>
</div>
