<div class="absolute top-0 right-0 m-2 button">
  <% if current_user && current_user.favorites.sites.find_by(favorable_id: object.id)%>
    <div class="cursor-pointer" data-action="click->favorite#removeFav" data-id="<%= current_user.favorites.sites.find_by(favorable_id: object.id).id %>">
      <span class="text-red-500 text-4xl">&#x2665;</span>
    </div>
  <% elsif current_user %>
    <div class="cursor-pointer" data-action="click->favorite#addFav">
      <span class="text-slate-300 text-4xl">&#x2665;</span>
    </div>
  <% end %>
</div>
