<div class='w-full mx-auto md:w-2/3 mb-5'>
  <h1 class='text-4xl font-bold'>新增景點</h1>
  <%= render 'form', site: @site %>
  <%= link_to '返回景點後台', dashboard_sites_path, class:"bg-white inline-block text-blue-500 focus:outline-none focus:ring-4 rounded-full text-md px-3 py-1 hover:bg-blue-400 hover:text-white border-2 transition-all duration-400" %>
</div>
